<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
<!--    nah, not gonna use v-select-->
<!--    <script src="https://unpkg.com/vue-select@latest"></script>-->

    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,700|Lobster+Two:400i,700i|Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet">

    <link rel="stylesheet" href="weatherApp_CSS.css">

</head>

<body>
    <div id="pageBody" class="container">





        <div id="searchField">

            <div id="logo" class="container" v-if="logoShow==true">
                <div>
                    <img id="logopic" src="umbrella_orang.jpg" style="height: 100px;">
                </div>
                <div>
                    <h1 id="weatherly">weather.ly</h1>
                </div>
            </div>
            
            
            <div v-if="kekShow==true" id="easterEgg"><img :src="keksrc"></div>
            
            <div id="angeryCat" class="hidden"><p>YOU HAVE COMMITED A TYPO,<br> WHEN WE POLITELY ASKED YOU NOT TO</p><img src="https://i.imgur.com/RBmn7VY.png"><p id="wtf">WTF IS '{{errorMsg}}' ?!</p><p>TRY AGAIN, CORRECTLY THIS TIME!</p></div>


            <h1 id="pickCity" class="text-center">PICK YOUR CITY!</h1>
            <div id="searchBox">
                <input type="search" class="form-control" v-model="userInput" @keyup.enter="sendInput" @click="hintShow=!hintShow" placeholder="no typos pls" @keydown.down="optNo++, usedArrows=true" @keydown.up="optNo--, usedArrows=true" @keydown.shift.enter="userInput=suggestions[optNo]" @keydown.enter="decideInput" @input="unuseArrows()">
                
                <button id="searchBtn" @click="sendInput"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/VisualEditor_-_Icon_-_Search-big.svg/1024px-VisualEditor_-_Icon_-_Search-big.svg.png" style="height: 20px;"></button>        
        
            </div>
            
            <div id="parentbox">
            <div id="hoverbox" @mouseover="unuseArrows()"> 
            <template v-if="userInput.length>2" v-for="aCity in suggestions">
                    <div id="suggestionContainer" >
                        <ul id="citySuggestions" @click.keydown="userInput=aCity" @click.keyup="sendInput" >
                            <li :class="{selectedOption: aCity==suggestions[optNo]}" >{{aCity}}</li>
                        </ul>
                    </div>

            </template>
            </div>
            </div>
            
            
            
            
            
            
<!--
        Works Excellent with pre-defined options. Not so well with user input
            
            <div id="searchBox">
                
                <v-select id="vSelect" :label="aCity" :options="suggestions" v-model="userInput" placeholder="no typos pls" @keyup.enter="sendInput"></v-select>
                
                <button id="searchBtn" @click="sendInput"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/VisualEditor_-_Icon_-_Search-big.svg/1024px-VisualEditor_-_Icon_-_Search-big.svg.png" style="height: 20px;"></button>
        
            </div>
-->



            
            
            
            <p id="hint" class="text-center" v-if="hintShow==true">
                Not all valid cities will show up in the suggestions
            </p>
            
<!--
            <p id="hint" class="text-center" v-if="hintShow==true">
                Try adding a country code, eg: "Berlin, US"
            </p>
-->
        </div>
        





        <div id="cityData" v-if="weather!==''">
            <div>
                <h3 id="date" class="text-center">{{dateToday}}</h3>
            </div>

            <div id="weatherIcon" class="col-xs-3">
                <img class="pull-right" v-bind:src="setIconURL(weather)">
            </div>

            <div class="col-xs-6 text-center">
                <h2 id="city">{{weather.name}}, {{weather.sys.country}}</h2>
<!--
                <p><a @click="showMap=!showMap">{{setLinkText()}}</a></p>
                <iframe :src="setiframeURL(weather)" width="300" height="200" frameborder="0" style="border:0" allowfullscreen v-if="showMap==true"></iframe>
-->
            </div>
            
            <div class="col-xs-3">
                <h2 id="temp">{{weather.main.temp}}&deg;C</h2>
            </div>

            <div class="col-xs-12 text-center">
                <p><a @click="showMap=!showMap">{{setLinkText()}}</a></p>
                <iframe :src="setiframeURL(weather)" width="300" height="200" frameborder="0" style="border:0" allowfullscreen v-if="showMap==true"></iframe>
             </div>
            
            <div class="col-xs-12 text-center">
                <h3 id="summary">- {{weather.weather[0].description}} -</h3>
            </div>

            <div class="row">
                <span class="col-xs-4 text-right">wind speed:</span>
                <div class="col-xs-4 text-center"><span id="windBox" class="colorBox">{{weather.wind.speed}} m/s</span></div>
    
                <span class="col-xs-4">{{setwindText}}</span>
            </div>
            
            
            <div class="row">
                <span class="col-xs-4 text-right">humidity:</span>
                <div class="col-xs-4 text-center"><span id="humidityBox" class="colorBox">{{weather.main.humidity}}%</span></div>
                <span class="col-xs-4">{{sethumidityText}}</span>
            </div>

        </div>
        
        <div id="exportDataLol"></div>










        <div id="footer" class="text-center">
            <p> &copy; weather.ly 2018 | No Rights Reserved</p>
            <p>A shitty app made by hipsters for technologically-impaired normies</p>
        </div>

    </div>

    <script type="text/javascript" src="biggestTowns.js"></script>
    <script type="text/javascript" src="weatherApp_JS.js"></script>
    
<!--
    <script type="text/javascript" src="100k-cities.js"></script>
    <script type="text/javascript" src="city.list.js"></script>
    <script type="text/javascript" src="city-Calculations.js"></script>
-->

    
    



</body>

</html>
